#
# Copyright (C) 2025 AuxXxilium <https://github.com/AuxXxilium>
# 
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#

name: Update Data

on:
  workflow_dispatch:
    inputs:
      runs:
        description: "runs-on"
        type: choice
        options:
          - ubuntu-latest
          - self-hosted
      cleanfiles: 
        description: 'clean files'
        default: false
        type: boolean

jobs:
  dsm-files:
    runs-on: ${{ inputs.runs }}
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          swap-storage: false

      - name: Checkout
        uses: actions/checkout@main

      - name: Initialization environment
        run : |
          sudo git config --global user.email "info@auxxxilium.tech"
          sudo git config --global user.name "AuxXxilium"
          sudo timedatectl set-timezone "Europe/Berlin"
          
          sudo apt update
          sudo apt install -y \
            jq \
            build-essential \
            libtool \
            pkgconf \
            libzstd-dev \
            liblzma-dev \
            libssl-dev \
            gawk \
            cpio \
            gettext \
            libelf-dev \
            qemu-utils \
            busybox \
            dialog \
            curl \
            sed \
            zip \
            unzip \
            python3-full
          sudo snap install yq
          # Backup the original python3 executable.
          sudo mv -f "$(realpath $(which python3))/EXTERNALLY-MANAGED" "$(realpath $(which python3))/EXTERNALLY-MANAGED.bak" 2>/dev/null || true
          sudo pip3 install -U -r scripts/requirements.txt

      - name: Clean Files
        if: inputs.cleanfiles == true
        run: |
          sudo rm -rf ./files
          sudo rm -rf ./dsm

      - name: Update
        run: |
          sudo rm -rf ./tmp
          sudo rm -rf ./configs
          sudo rm -f ./configs.zip
          sudo ./update.sh